{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <a href="{% url  'store_app:index' %}"><img src="{% static 'images/logo.png' %}" alt="logimage" width="200px;"height="200px"  ></a>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" >
    <script src=”https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js”></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
     <title>CENTRAL SCHOOL-User Page</title>
    <style>
        body{background-color:#F5F5DC;text-align:left;}
        h2{color:red;text-align:left;padding:5px;
             font-family:arial;}
        #form1{display:none;}
        footer{background-color:DarkGray;height:35px;padding:10px;font-size:14px;}
    </style>
</head>
<body>
<h5> Hello User {{username}}</h5>
<div class="container d flex flex-column min-vh-100">
<button type="button" id="formButton">Click Here</button><br>
    <script>$("#formButton").click(function(){
        $("#form1").toggle();
    });</script>
<form id="form1" method="post" >
      {% csrf_token %}
      <input type="text"  name="name" placeholder="Enter the Name"><br>
      <input type="number" name="dob" placeholder="Enter the DOB"><br>
      <input type="number"  name="age" placeholder="Enter the Age"><br>
      <input type="text" name="gender" placeholder="Enter the Gender"><br>
      <input type="number" name="phonenumber" placeholder="Enter the Phone Number"><br>
      <input type="email" name="email" placeholder="Enter the Mail id"><br>
      <input type="text" name="address" placeholder="Enter the Address"><br>
       <label for="departments">Departments</label><br>
      <select id="departments" name="departments">
       <option value="0">Select the Department</option>
        <option value="1">PHYSICAL EDUCATION</option>
         <option value="2">COMMERCE</option>
        <option value="3">HUMANITIES</option>
        <option value="4">SCIENCE</option>
        <option value="5">COMPUTER SCIENCE</option>
         </select><br>
    <label>Courses</label><br>
   <select  name="department" id="department">
    <option value="0">Select the Courses under Departments</option>
    <optgroup label="PHYSICAL EDUCATION">
    <option value="1">Sports</option>
    <option value="2">Gymnastics</option>
   </optgroup>
  <optgroup label="COMMERCE">
    <option value="1">Accounting & Finance</option>
    <option value="2">Applied Economics</option>
  </optgroup>
   <optgroup label="HUMANITIES">
    <option value="1">Political Science</option>
    <option value="2">Economics</option>
  </optgroup>
   <optgroup label="SCIENCE">
    <option value="1">Physics</option>
    <option value="2">Biology</option>
  </optgroup>
   <optgroup label="COMPUTER SCIENCE">
    <option value="1">Information Security</option>
    <option value="2">Networking</option>
  </optgroup>
</select><br>
    <label for="purpose">Purpose</label><br>
      <select id="purpose" name="purpose">
        <option value="0">Select the Purpose</option>
        <option value="1">For Enquiry</option>
         <option value="2">Place Order</option>
        <option value="2">Return</option>
         </select><br>
      <label >debit Notebook</label>
      <input type="checkbox" name="Materials Provided1"><br>
      <label>Pen</label>
      <input type="checkbox" name="Materials Provided2"><br>
       <label >Exam Papers</label>
      <input type="checkbox" name="Materials Provided3"><br>
        <hr class="mb-3">
        <button type="submit" class="btn btn-primary">Submit </button>
     <a href="{% url 'store_app:logout' %}" <button type="submit" class="btn btn-danger">Logout</button></a>
    </form>
    {% for a in messages %}
      <h3>{{a}}</h3>
   {% endfor %}
 <a href="{% url 'store_app:index' %}"><b>HOME</b></a>
    </div>

<div class="container">
<footer class="mt-auto nav-fixed-bottom ">
    <p class="text-center">&copy.CENTRAL SCHOOL pvt Ltd. All Rights Reserved.</p>
</footer>
</div>
</body>
</html>